/* You can add global styles to this file, and also import other style files */

/* Start finish batch style */
.btn-startBatch {
    margin-top: 40px;
}



.firstInput {
    margin-left: 83px;
    margin-right: 123px;
}

.finishBatchLabels {
    font-size: 120%;
}

.btn-finishBatch {
    margin-left: 600px;
    margin-top: 40px;
}

.yieldField {
    margin-top: 7%;
}

.finishBatch {
    margin-left: 36px;
}

/* End finish batch style */



/* Start comments style */

.commentForm {
    margin-top: 5%;
}

.mainTitleComments {
    margin-top: 3%;
}

.addCommentTitle {
    margin-top: 5%;
    margin-right: 50%;
}

.commentListTitle {
    margin-top: 7%;
    margin-right: 50%;
}

.commentList {
    margin-top: 5%;
}

.btn-addComment {
    margin-top: 8%;
    margin-right: 50%;
}

.commentTextarea {
    height: 200%;
    width: 200%;
}

/* End comments style */




/* Start Navbar style */


/* End Navbar style */
.mycontent-left {
    border-right: 1px ridge #333;
  }


.startBatchButton {
    right: 0%;
}

/*End Navbar style*/


/* Start start batch */

.selectProd {
    width: 100%;
}



/* End start batch */

