/* You can add global styles to this file, and also import other style files */

/* Start home style */

.homeContent {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 1em;
}

.homeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: yellowgreen;
    height: 5vh;
}

.shift {    
    display: flex;
    flex-direction: row;
    background: blue;
    height: 32vh;
  }  
  
  .shiftLeftCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0; 
    flex: 1;
  }  

  .wrapper {
    display: flex;
    flex-direction: column;
    flex: 5;
  }

  .hours {
    display: flex;
    flex-direction: row;
    height: 8vh;    
    justify-content: space-around; 
    align-items: center;
  }
    
  .hour {
      font-size: 2em;
  }

  .inputHourBox, .inputLabelBox, .discVials {
    display: flex;
    flex-direction: row;
    height: 8vh;    
    justify-content: space-around; 
    align-items: center;
  }

  .inputLabelBox {
      justify-content: flex-start;
      margin: 0;
  }

  .inputHour, .inputDiscVials {
    width: 8%;
  }

  .discVials {
    justify-content: space-between;
  }

  .inputDiscVials {
      margin-left: 2.2%;
  }

  .btnShift, .currentShift {
      margin-right: 2.2%;
  }

.fsAndCom {
    display: flex;
    flex: 1;
}

.floorstock {
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 1;
    background: red;
}

.floorstockBox, .floorstockTitle {
    display: flex;
    flex-direction: row;
    height: 6vh;    
    border: solid;
}

.floorstockTitle {
    justify-content: center;
    align-items: center;
}

/* Start plus minus button --------------------------------------------- */

    .input-group {
        width: auto;
    }

  /* Digit center align */
  .input-number-group input[type=number]::-webkit-inner-spin-button,
  .input-number-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  /* Plus and minus sign center align */
  .input-number-group .input-group-button {
    line-height: calc(8vh/2 - 0.5vh);
  }
  
  .input-number-group .input-number {
    width: 8vh;
    padding: 0 1.2vh;
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
  }
  
  .input-number-group .input-number,
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    border: 1px solid #cacaca;
    height: 5vh;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 0;
  }
  
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    display: inline-block;
    width: 4vh;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
  }
  
  .input-number-decrement {
    margin-right: 0.3rem;
  }
  
  .input-number-increment {
    margin-left: 0.3rem;
  }

  /* End plus minus button --------------------------------------------- */

  .stockName {
      font-size: 1.5em;
      margin-left: 2%;
  }

  .updateFloorstock {
      justify-content: flex-end;
  }

.addComment {
    flex: 0 0 70%;
    background: beige;
    order: 2;
}


/* End home style */

/* Start finish batch style */
.btn-startBatch {
    margin-top: 40px;
}

.firstInput {
    margin-left: 83px;
    margin-right: 123px;
}

.finishBatchLabels {
    font-size: 120%;
}

.btn-finishBatch {
    margin-left: 600px;
    margin-top: 40px;
}

.yieldField {
    margin-top: 7%;
}

.finishBatch {
    margin-left: 36px;
}

/* End finish batch style */



/* Start comments style */

.commentForm {
    margin-top: 5%;
}

.mainTitleComments {
    margin-top: 3%;
}

.addCommentTitle {
    margin-top: 5%;
    margin-right: 50%;
}

.commentListTitle {
    margin-top: 4%;
    margin-right: 50%;
}

.commentList {
    margin-top: 1%;
}

.btn-addComment {
    margin-top: 8%;
    margin-right: 50%;
}

.commentTextarea {
    height: 200%;
    width: 200%;
}

/* End comments style */




/* Start Navbar style */


/* End Navbar style */
.mycontent-left {
    border-right: 1px ridge #333;
  }


.startBatchButton {
    right: 0%;
}

/*End Navbar style*/


/* Start start batch */

.selectProd {
    width: 100%;
}



/* End start batch */

