<h2>
    <i>Examples of content on this page:</i>
</h2>
    
<br>
<h4>
    *Copy of current Excel layout.
</h4>
<p>
    List of recent activity when retreiving floorstock materials. How does this relate to other parts of the system? 
</p>

<br>
<h4>
    *Material change per batch
</h4>
<p>
    Track what floorstock materials that has been changed per batch, and the date for when this occured. Is this a necessary feature?
</p>

<br>
<h4>
    *Inventory/stock info
</h4>
<p>
    Sort of like an inventory to show what is in stock at the moment. Again, is this a necessary feature?
    This assumes floorstock materials is not tracked by SAP.
</p>
