*.pyc
website/vfal_monitor/__pycache__/urls.cpython-36.pyc
website/operations/__pycache__/models.cpython-36.pyc
website/operations/__pycache__/forms.cpython-36.pyc
website/operations/__pycache__/urls.cpython-36.pyc
website/operations/__pycache__/views.cpython-36.pyc
website/vfal_monitor/__pycache__/settings.cpython-36.pyc
website/vfal_monitor/__pycache__/urls.cpython-36.pyc
.vscode/settings.json
.idea/workspace.xml
.vscode/launch.json
backend/src/static/ang/
/backend/src/static/ang/
backend/src/static/ang/inline.bundle.js.map
backend/src/static/ang/main.bundle.js
backend/src/static/ang/main.bundle.js.map