<div class="container">
    <div class="row" style="height:70vh" *ngIf = "haveData; else loading">
        <h3>Accumulated production yield of latest batch</h3>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="displayDataList"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisTickFormatting]="xAxisFormatting"
        [xAxisLabel] = "xAxisLabel"
        [yAxisLabel] = 'yAxisLabel'
        [xAxis]='xAxis'
        [yAxis] = 'yAxis'
        [timeline]="timeline"
        (select)="pressed($event)">
      </ngx-charts-line-chart> 
  </div>
  </div>
  
  <!-- If user is loaded show the form, else show the loading template -->
<ng-template #loading>
  Loading content...
</ng-template>