<div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2 align="left">
                Accumulated production of latest batch
            </h2>
          </div>
        </div>
      </div>
      
      <hr class="separator">
<div class="container">
    <div class="row" style="height:70vh" *ngIf = "haveData; else loading">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="displayDataList"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisTickFormatting]="xAxisFormatting"
        [xAxisLabel] = "xAxisLabel"
        [yAxisLabel] = 'yAxisLabel'
        [xAxis]='xAxis'
        [yAxis] = 'yAxis'
        [timeline]="timeline">
      </ngx-charts-line-chart> 
  </div>
  </div>
  
  <!-- If user is loaded show the form, else show the loading template -->
<ng-template #loading>
    No data to show...
</ng-template>