<h2>
    <i>Examples of content on this page:</i>
</h2>
    
<br>
<h4>
    *Copy of current Excel layout.
</h4>
<p>
    Ability to input people on shift per hour and list of shift-changes for previous batches. 
    Is the list of past shift-changes really relevant for operators to see though?
</p>

<br>
<h4>
    *Combine with scoreboard?
</h4>
<p>
    Ability to input scoreboard output per hour and number of people on shift per hour in same view. 
    Combine the two together since both track changes in production per hour. 
    Create some sort of info page that displays information of current batch per hour (# people on shift, production output etc.)
</p>