{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>VfalFrontend</title>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/static/ang/assets/cepheidLogo.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'ang/styles.css' %}">
</head>

<body>
  <app-root></app-root>
  
  <script type="text/javascript" src="{% static 'ang/styles.css' %}"></script>
  <script type="text/javascript" src="{% static 'ang/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'ang/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'ang/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'ang/0.js' %}"></script>
  <script type="text/javascript" src="{% static 'ang/1.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'ang/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'ang/operation-operation-module.js' %}"></script>
  <script type="text/javascript" src="{% static 'ang/statistics-statistics-module.js' %}"></script> -->

</body>

</html>