{% load static %}
<!doctype html>
<html lang="en" >
<head>
  <title>VfalFrontend</title>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="{% static 'ang/runtime.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/polyfills.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/styles.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/vendor.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/main.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/operation-operation-module.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'ang/scoreboard-scoreboard-module.js' %}"></script> -->
<script type="text/javascript" src="{% static 'ang/statistics-statistics-module.js' %}"></script>
</body>
</html>