<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 align="left">
        Home
      </h2>
    </div>
  </div>
</div>

<hr class="separator">

<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 boxHome border border-primary rounded">
          <h3 class="text-center batchInfoHeader">{{ active }} batch info:</h3>
          <div class="row">
              <div class="col-md-1"></div>
            <ul class="batchStatusList">
              <li>
                <b>Order:</b> {{ latestBatch.order.order_number }}
              </li>
            </ul>
            <ul class="batchStatusList">
              <li>
                <b>Article number:</b> {{ latestBatch.order.article_number }}
              </li>
            </ul>
            <ul class="batchStatusList">
              <li>
                <b>Batch number:</b> {{ latestBatch.batch_number }}
              </li>
            </ul>
          </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item batch-status-info">
                  <b>Start Date:</b> {{ latestBatch.start_date | date:'yyyy-MM-dd HH:mm:ss' }}
                </li>
                <li class="list-group-item batch-status-info">
                  <b>End Date:</b> {{ latestBatch.order.end_date }}
                </li>
                <li class="list-group-item batch-status-info">
                  <b>Rework Date:</b> {{ latestBatch.rework_date }}
                </li>
                <li class="list-group-item batch-status-info">
                  <b>Label Print Time:</b> {{ latestBatch.label_print_time }}
                </li>
                <li class="list-group-item batch-status-info">
                  <b>Applied Lables:</b> {{ latestBatch.applied_labels }}
                </li>
                <li class="list-group-item batch-status-info">
                  <b>Rework Time:</b> {{ latestBatch.rework_time }}
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item batch-status-info">
                  <b>Yield:</b> {{ latestBatch.yield }}
                </li>
                <li class="list-group-item batch-status-info">
                  <b>HMI1 Good:</b> {{ latestBatch.hmi1_good }}
                </li>
                <li class="list-group-item batch-status-info">
                  <b>HMI1 Bad:</b> {{ latestBatch.hmi1_bad }}
                </li>
                <li class="list-group-item batch-status-info">
                  <b>HMI2 Good:</b> {{ latestBatch.hmi2_good }}
                </li>
                <li class="list-group-item batch-status-info">
                  <b>HMI2 Bad:</b> {{ latestBatch.hmi1_bad }}
                </li>
                <li class="list-group-item batch-status-info">
                  <b>Scrap:</b> {{ latestBatch.scrap }}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12" align="right">
            <button class="btn btn-primary" *ngIf="!latestBatch.end_date || latestBatch.rework_date" disabled>
              Rework batch
            </button>
            <button class="btn btn-primary" *ngIf="latestBatch.end_date && !latestBatch.rework_date" (click)="reworkBatch()">
              Rework Batch
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container">
          <div class="row" style="height:50vh">
            <h3>Accumulated production yield of latest batch</h3>
            <ngx-charts-line-chart *ngIf="haveData" [view]="view" [scheme]="colorScheme" [results]="displayDataList" [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisTickFormatting]="xAxisFormatting" [xAxisLabel]="xAxisLabel"
              [yAxisLabel]='yAxisLabel' [xAxis]='xAxis' [yAxis]='yAxis' [timeline]="timeline" (select)="pressed($event)">
            </ngx-charts-line-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12 box border border-primary rounded">
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-center">Production data</h3>
              </div>
            </div>
            <table class="table table-bordered table-striped table-hover table-sm">
              <thead>
                <tr>
                  <th *ngFor="let col of prodDataColumns">{{ col }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of prodStats">
                  <td>{{item.time_stamp | date:'yyyy-MM-dd HH:mm'}}</td>
                  <td>{{item.staff_quantity}}</td>
                  <td>{{item.production_quantity}}</td>
                  <td>{{item.user_name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  Loading content...
</ng-template>
