<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 align="left">
        Home
      </h2>
    </div>
  </div>
</div>

<hr class="separator">

<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-6 box border border-primary rounded">
          <div>
            <h4>{{ active }} batch status:</h4>
            <p>Order ID: {{ latestBatch.order.order_number }}</p>
            <p>Article number: {{ latestBatch.order.article_number }}</p>
            <p>Batch number: {{ latestBatch.batch_number }}</p>
          </div>
        </div>
        <div class="col-md-9 box border border-primary rounded">
          <div class="col-md-12">
            <h4>{{ active }} batch summary:</h4>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><b>Start Date:</b> {{ latestBatch.start_date }}</p>
              <p>End Date: {{ latestBatch.order.end_date }}</p>
              <p>Rework Date: {{ latestBatch.rework_date }}</p>
              <p>Label Print Time: {{ latestBatch.label_print_time }}</p>
              <p>Applied Lables: {{ latestBatch.applied_labels }}</p>
              <p>Rework Time: {{ latestBatch.rework_time }}</p>
            </div>
            <div class="col-md-6">
              <p>Yield: {{ latestBatch.yield }}</p>
              <p>HMI1 Good: {{ latestBatch.hmi1_good }}</p>
              <p>HMI1 Bad: {{ latestBatch.hmi1_bad }}</p>
              <p>HMI2 Good: {{ latestBatch.hmi2_good }}</p>
              <p>HMI2 Bad: {{ latestBatch.hmi1_bad }}</p>
              <p>Scrap: {{ latestBatch.scrap }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  Loading content...
</ng-template>
