<!--Start navBar.-->

<div class="container-fluid">   
  <div class="row">
    <div class="col-lg-3">
      
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2>Batch information: </h2>
          <p class="lead"></p>
        </div>
      </div>
      <div class="card-fluid" >
        <ul class="nav flex-column nav-pills nav-stacked">
          <div class="border border-dark">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Comments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Scoreboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Finish batch</a>
            </li>
        </div>
        <br>
        <li class="nav-item">
          <a class="nav-link" href="#">Floorstock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Skiftyte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">History</a>
        </li>               
        </ul>
      </div>
    </div>
       
<!--End navBar.-->     

    <div class="col-lg-9" >
      <div class="main">
<!--Router imput here-->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>