<!--Start navBar.-->
<div id="wrap">
  <div class="container-fluid" id="main">
    <div id="header" class="row">
      <div class="col-lg-2 my-auto text-center">
        <div class="header-content rounded col-lg-6 offset-lg-3">
          <img class="pt-1" src="/static/ang/assets/cepheidLogo.png">
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1 my-auto header-content rounded">
        <h2 class="pt-2">
          <em>VFAL Monitor</em>
        </h2>
      </div>
      <div class="col-lg-1 offset-lg-4 my-auto header-content rounded" *ngIf="authAPI.currentUser">
        <p class="mt-1">
          User:
          <b>{{ authAPI.currentUser.username }}</b>
          <br> Role:
          <b>{{ authAPI.getRole() }}</b>
        </p>
      </div>
      <div class="col-lg-2 my-auto" *ngIf="authAPI.currentUser">
        <div class="rounded col-lg-6 offset-lg-3">
          <button type='button' class='btn btn-default btn-lg mt-1' (click)="authAPI.performLogout()">Logout</button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="authAPI.loggedIn; else loginview">
      <!-- Navbar -->
      <nav class="col-lg-2 navbar-body">
        <div class="row">
          <div class="col-lg-12 batch-status-body">
            <div class="">
              <current-batch-info></current-batch-info>
            </div>
          </div>
        </div>
        <hr>

        <div class="row mt-2">
          <div class="card-fluid col-lg-12">
            <ul class="nav flex-column nav-pills nav-stacked">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Dashboard</a>
              </li>
              <li class="nav-item" *ngIf="authAPI.currentUser && (authAPI.currentUser.isAdmin || authAPI.currentUser.isOperator)">
                <a class="nav-link" routerLink="./operation/operations" routerLinkActive="active">Operations</a>
              </li>

              <li class="nav-item" *ngIf="authAPI.currentUser && (authAPI.currentUser.isAdmin || authAPI.currentUser.isOperator)">
                <a class="nav-link" routerLink="./operation/batch-history" routerLinkActive="active">Batch history</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/statistics/scoreboard" routerLinkActive="active">Scoreboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/statistics/data-page" routerLinkActive="active">Data Page</a>
              </li>
              <li *ngIf="authAPI.currentUser && (authAPI.currentUser.isAdmin || authAPI.currentUser.isSupervisor)">
                <a class="btn dropdown-toggle" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"
                  role="button">
                  Charts
                </a>
              </li>
            </ul>
            <div class="collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
              <ul class="nav flex-column nav-pills nav-stacked">
                <li class="nav-item" *ngIf="authAPI.currentUser && (authAPI.currentUser.isAdmin || authAPI.currentUser.isSupervisor)">
                  <a class="nav-link" routerLink="/statistics/charts/production" routerLinkActive="active">Production statistics</a>
                </li>
                <li class="nav-item" *ngIf="authAPI.currentUser && (authAPI.currentUser.isAdmin || authAPI.currentUser.isSupervisor)">
                  <a class="nav-link" routerLink="/statistics/charts/floorstock" routerLinkActive="active">Floorstock changes</a>
                </li>
                <li class="nav-item" *ngIf="authAPI.currentUser && (authAPI.currentUser.isAdmin || authAPI.currentUser.isSupervisor)">
                  <a class="nav-link" routerLink="/statistics/charts/production-per-time-unit" routerLinkActive="active">Production per day</a>
                </li>
                <li class="nav-item" *ngIf="authAPI.currentUser && (authAPI.currentUser.isAdmin || authAPI.currentUser.isSupervisor)">
                  <a class="nav-link" routerLink="/statistics/charts/production-accumulated" routerLinkActive="active">Accumulated production of latest batch</a>
                </li>
              </ul>
            </div>
            <hr>
          </div>
        </div>
      </nav>
      <!--End navBar.-->

      <div class="col-lg-10 mt-3">
        <div class="main">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <ng-template #loginview>
      <div class="row">
        <div class="col-lg-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<footer>
  <div class="col-md-12 text-white" align="left">&copy; WIP 2018</div>
</footer>
