<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 align="left">
            Number of floorstock changes, displayed per batch
        </h2>
      </div>
    </div>
  </div>
  
  <hr class="separator">
<div class="container">
  <div class="row" style="height:70vh">
    
    <div class='col-9'>
    <ngx-charts-bar-vertical-stacked *ngIf = "haveData; else loading"
      [scheme]="colorScheme"
      [results]="displayData"
      [animations] = 'animations'
      [legend]="showLegend"
      [legendTitle] = 'legendTitle'
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel] = "xAxisLabel"
      [yAxisLabel] = "yAxisLabel"
      [xAxis] = 'xAxis'
      [yAxis] = 'yAxis'>
      <ng-template #tooltipTemplate let-model="model">
        Batch number: {{model.series}} 
        <br>
        Floorstock item: {{model.name}}
        <br>
        Number Consumed: {{model.value}}

      </ng-template>
    </ngx-charts-bar-vertical-stacked> 
  </div>
  <div class="col-3 align-self-end"> 
      <div class="row  p-1">
          <div class="col">
            <div ngbDropdown class="d-inline-block btn-block">
              <button ngbDropdownToggle class = "btn btn-primary btn-sm btn-block"  id="setSize">
                Number floorstock changes
              </button>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="setSize">
                <button class="dropdown-item" (click)="setOffsetSize('40')">Show 40 floorstock changes</button>
                <button class="dropdown-item" (click)="setOffsetSize('20')">Show 20 floorstock changes</button>
                <button class="dropdown-item" (click)="setOffsetSize('10')">Show 10 floorstock changes</button>
                <button class="dropdown-item" (click)="setOffsetSize('5')">Show 5 floorstock changes</button>
              </div>
            </div>
          </div>
        </div> 
        <div class="row justify-content-between p-1">
          <div class="col-5">
            <button class="btn btn-outline-primary btn-sm w-100 " type="button" (click)="goToPreviousSet()">
            Previous
            </button>
          </div>
          <div class="col-5">
            <button class="btn btn-outline-primary btn-sm w-100  " type="button" (click)="goToNextSet()">
            Next
            </button>
          </div> 
          </div> 
    </div>
  </div>
  </div>

<!-- If user is loaded show the form, else show the loading template -->
<ng-template #loading>
    No data to show...
</ng-template>