<div class="container bg-light">
  <div class="row text-center">
    <div class="col-lg-12">
      <h3 class="h3header" style="margin-top: 50px;">
        Finish Batch
      </h3>
      <br>
      <form [formGroup]="finishBatchForm" (ngSubmit)='submitEndBatch($event, finishBatchForm.value)'>
        <div class="row">
          <div class="col-lg-6">
            <h5>
              Final HMI Data Groninger 1
            </h5>

            <!-- HMI 1 Good -->
            <div class="form-group row ">
              <label for="hmi1_good" class="col-lg-3 col-form-label">Good:</label>
              <input type="number" class="col-lg-8 form-control" #hmi1_good formControlName="hmi1_good" placeholder="">
            </div>
            <div class="row">
              <div class="col-lg-8 offset-lg-3 alert alert-danger" *ngIf="finishBatchForm.controls.hmi1_good.invalid && 
                (finishBatchForm.controls.hmi1_good.dirty || finishBatchForm.controls.hmi1_good.touched)">
                <span *ngIf="finishBatchForm.controls.hmi1_good.errors?.required">
                  * This field is required.
                </span>
                <span *ngIf="finishBatchForm.controls.hmi1_good.errors?.pattern">
                  * Only positive numbers are accepted.
                  <br>
                </span>
              </div>
            </div>

            <!-- HMI 1 Bad -->
            <div class="form-group row ">
              <label for="hmi1_bad" class="col-lg-3 col-form-label">Bad:</label>
              <input type="number" class="col-lg-8 form-control" #hmi1_bad formControlName="hmi1_bad" placeholder="">
            </div>
            <div class="row">
              <div class="col-lg-8 offset-lg-3 alert alert-danger" *ngIf="finishBatchForm.controls.hmi1_bad.invalid && 
                  (finishBatchForm.controls.hmi1_bad.dirty || finishBatchForm.controls.hmi1_bad.touched)">
                <span *ngIf="finishBatchForm.controls.hmi1_bad.errors?.required">
                  * This field is required.
                </span>
                <span *ngIf="finishBatchForm.controls.hmi1_bad.errors?.pattern">
                  * Only positive numbers are accepted.
                  <br>
                </span>
              </div>
            </div>
            <br>
          </div>

          <div class="col-lg-6">
            <h5>
              Final HMI Data Groninger 2
            </h5>

            <!-- HMI 2 Good -->
            <div class="form-group row">
              <label for="hmi2_good" class="col-lg-3 col-form-label">Good:</label>
              <input type="number" class="col-lg-8 form-control" #hmi2_good formControlName="hmi2_good" placeholder="">
            </div>
            <div class="row">
              <div class="col-lg-8 offset-lg-3 alert alert-danger" *ngIf="finishBatchForm.controls.hmi2_good.invalid && 
                  (finishBatchForm.controls.hmi2_good.dirty || finishBatchForm.controls.hmi2_good.touched)">
                <span *ngIf="finishBatchForm.controls.hmi2_good.errors?.required">
                  * This field is required.
                </span>
                <span *ngIf="finishBatchForm.controls.hmi2_good.errors?.pattern">
                  * Only positive numbers are accepted.
                  <br>
                </span>
              </div>
            </div>

            <!-- HMI 2 Bad -->
            <div class="form-group row">
              <label for="hmi2_bad" class="col-lg-3 col-form-label">Bad:</label>
              <input type="number" class="col-lg-8 form-control" #hmi2_bad formControlName="hmi2_bad" placeholder="">
            </div>
            <div class="row">
              <div class="col-lg-8 offset-lg-3 alert alert-danger" *ngIf="finishBatchForm.controls.hmi2_bad.invalid && 
                  (finishBatchForm.controls.hmi2_bad.dirty || finishBatchForm.controls.hmi2_bad.touched)">
                <span *ngIf="finishBatchForm.controls.hmi2_bad.errors?.required">
                  * This field is required.
                </span>
                <span *ngIf="finishBatchForm.controls.hmi2_bad.errors?.pattern">
                  * Only positive numbers are accepted.
                  <br>
                </span>
              </div>
            </div>
            <br>
          </div>

          <div class="col-lg-6 offset-lg-3">
            <!-- Yield -->
            <div class="form-group row">
              <label for="production_yield" class="col-lg-3 col-form-label">Yield:</label>
              <input type="number" class="col-lg-8 form-control" #production_yield formControlName="production_yield" placeholder="">
            </div>
            <div class="row">
              <div class="col-lg-8 offset-lg-3 alert alert-danger" *ngIf="finishBatchForm.controls.production_yield.invalid && 
                    (finishBatchForm.controls.production_yield.dirty || finishBatchForm.controls.production_yield.touched)">
                <span *ngIf="finishBatchForm.controls.production_yield.errors?.required">
                  * This field is required.
                </span>
                <span *ngIf="finishBatchForm.controls.production_yield.errors?.pattern">
                  * Only positive numbers are accepted.
                  <br>
                </span>
              </div>
            </div>
            <hr>

            <!-- Rework -->
            <!-- <div class="form-group row">
              <div class="col-lg-8 offset-lg-2 text-center">
                <h4>Rework</h4>
              </div>
              <div class="col-lg-4 offset-lg-4 form-control">
                <div class="row text-center">
                  <label class="col-lg-6">Yes
                    <input type="radio" value="true" formControlName="rework">
                  </label>
                  <label class="col-lg-6">No
                    <input type="radio" value="false" formControlName="rework">
                  </label>
                </div>
              </div>
            </div> -->


          </div>
        </div>
        <br>
        <!-- <div *ngIf="finishBatchForm.controls.rework.value == 'true'">
          <batch-rework [reworkForm]="finishBatchForm"></batch-rework>
        </div> -->
        <div class="row">
          <div class="col-lg-12">
            <button type="submit" [disabled]='finishBatchForm.invalid' class="btn btn-primary" style="margin-bottom: 50px;">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>