<div class="container">
    <div class="row text-center" style="margin-top: 20vh;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <h1 class="card-header">Login</h1>
                <div class="card-body">
                    <form [formGroup]='loginForm' #ourLoginDir='ngForm' (submit)='handleSubmit($event, ourLoginDir, loginForm)'>
                        <div class="input-group mb-3 col-lg-6 offset-lg-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Username: </span>
                            </div>
                            <input type='text' id='username' formControlName='usernameField' class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <!-- <input type='text' id='username' formControlName='usernameField' style="margin: 10px;"> -->
                        <div *ngIf='usernameField.invalid && (usernameField.dirty || usernameField.touched)'>
                            <div *ngIf='usernameField.errors.required'>
                                Username is required.
                            </div>
                            <div *ngIf='usernameField.errors.maxlength'>
                                Max length is 20
                            </div>
                            <div *ngIf='usernameField.errors.minlength'>
                                Min length is 3
                            </div>
                        </div>
                        <br>
                        <div class="input-group mb-3 col-lg-6 offset-lg-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Password: </span>
                            </div>
                            <input type='password' id='password' formControlName='passwordField' class="form-control" placeholder="Password" aria-label="Password"
                                aria-describedby="basic-addon1">
                        </div>
                        <!-- <input type='password' id='password' formControlName='passwordField' style="margin: 10px;"> -->
                        <div *ngIf='passwordField.invalid && (passwordField.dirty || passwordField.touched)'>
                            <div *ngIf='passwordField.errors.required'>
                                Password is required.
                            </div>
                            <div *ngIf='passwordField.errors.maxlength'>
                                Max length is 20
                            </div>
                            <div *ngIf='passwordField.errors.minlength'>
                                Min length is 3
                            </div>
                        </div>
                        <br>
                        <button type='submit' class='btn btn-default' [disabled]='loginForm.invalid'>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- <h1>Login to Your Account</h1>
            <br>
            <form>
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="pass" placeholder="Password">
                <input type="submit" name="login" class="login loginmodal-submit" value="Login">
            </form>

            <div class="login-help">
                <a href="#">Register</a> -
                <a href="#">Forgot Password</a>
            </div> -->