 <div class="container">
  <div class="row" style="height:70vh">
      <h3>Production during 72 hours per hour</h3>
    <div class='col-9'>
    <ngx-charts-line-chart *ngIf = "haveData"
      [view]="view"
      [scheme]="colorScheme"
      [results]="displayData"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisTickFormatting]="xAxisFormatting"
      [xAxisLabel] = "xAxisLabel"
      [yAxisLabel] = 'yAxisLabel'
      [xAxis]='xAxis'
      [yAxis] = 'yAxis'
      [timeline]="timeline">
    </ngx-charts-line-chart> 
  </div>
<div class="col-3 align-self-end">    
  <div class="row p-1">
    <div class="col">
      <button class="btn btn-primary btn-sm btn-block" type="button" (click)="toggleTimeline()">
      Toggle timeline
      </button>
    </div>
  </div>
  <div class="row p-1">
    <div class="col">
      <button class="btn btn-primary btn-sm btn-block" type="button" (click)="toggleShowBatches()">
      Toggle batches
      </button>
    </div>
  </div>
  <div class="row p-1">
    <div class="col">
      <button class="btn btn-primary btn-sm btn-block" type="button" (click)="toggleShowYield()">
      Toggle yield or PPHM
      </button>
    </div>
  </div>
    <div class="row justify-content-between p-1">
      <div class="col-5">
        <button class="btn btn-sm w-100  " type="button" (click)="goToNextSet()">
        Backward
        </button>
      </div> 
      <div class="col-5">
        <button class="btn btn-sm w-100 " type="button" (click)="goToPreviousSet()">
        Forward
        </button>
      </div>
    </div>
  </div>
</div>
</div>
