 <div class="container">
  <div class="row" style="height:50vh">
      <h3>Number of boxes produced per hour</h3>
    <div class='col-10'>
    <ngx-charts-line-chart *ngIf = "haveData"
      [view]="view"
      [scheme]="colorScheme"
      [results]="displayData"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisTickFormatting]="xAxisFormatting"
      [xAxisLabel] = "xAxisLabel"
      [xAxis]='xAxis'
      [yAxis] = 'yAxis'
      [timeline]="timeline"
      (select)="pressed($event)">
    </ngx-charts-line-chart> 
  </div>
<div class="col-2 align-self-end">    
  <div class="row p-1">
    <div class="col">
      <button class="btn btn-primary btn-sm btn-block" type="button" (click)="toggleTimeline()">
      Toggle timeline
      </button>
    </div>
  </div>
  <div class="row p-1">
    <div class="col">
      <button class="btn btn-primary btn-sm btn-block" type="button" (click)="toggleBatches()">
      Toggle batches
      </button>
    </div>
  </div>
  <div class="row p-1">
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-primary btn-sm dropdown-toggle btn-block" type="button" id="timeScopeDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Time scope
        </button>
        <div class="dropdown-menu" aria-labelledby="timeScopeDropDown">
          <div class="dropdown-item" (click)="changeTimeSpan('720')">30 Days</div>
          <div class="dropdown-item" (click)="changeTimeSpan('360')">15 Days</div>
          <div class="dropdown-item" (click)="changeTimeSpan('168')">7 Days</div>
          <div class="dropdown-item" (click)="changeTimeSpan('72')">72 Hours</div>
          <div class="dropdown-item" (click)="changeTimeSpan('24')">24 Hours</div>
          <div class="dropdown-item" (click)="changeTimeSpan('12')">12 Hours</div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row" style="height:5vh"></div>
  <app-staff-quantity></app-staff-quantity>
  <div class="row" style="height:5vh">  </div>
  <app-batch-chart></app-batch-chart>
  <div class="row" style="height:5vh"></div>
  <app-produced-per-person></app-produced-per-person>
  <div class="row" style="height:5vh"></div>
  <app-production-per-time-unit></app-production-per-time-unit>>
</div>
