<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 align="left">
            Latest 96 production statistics changes, displayed per hour
        </h2>
      </div>
    </div>
  </div>
  
  <hr class="separator">
 <div class="container">
  <div class="row" style="height:70vh">
    <div class='col-9'>
    <ngx-charts-line-chart *ngIf = "haveData; else loading"
      [view]="view"
      [scheme]="colorScheme"
      [results]="displayData"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisTickFormatting]="xAxisFormatting"
      [xAxisLabel] = "xAxisLabel"
      [yAxisLabel] = 'yAxisLabel'
      [xAxis]='xAxis'
      [yAxis] = 'yAxis'
      [timeline]="timeline">
    </ngx-charts-line-chart> 
  </div>
<div class="col-3 align-self-end">    
  <div class="row p-1">
    <div class="col">
      <button class="btn btn-primary btn-sm btn-block" type="button" (click)="toggleTimeline()">
      Toggle timeline
      </button>
    </div>
  </div>
  <div class="row p-1">
    <div class="col">
      <button class="btn btn-primary btn-sm btn-block" type="button" (click)="toggleShowBatches()">
      Toggle batches
      </button>
    </div>
  </div>
  <div class="row p-1">
    <div class="col">
      <button class="btn btn-primary btn-sm btn-block" type="button" (click)="toggleShowYield()">
      Toggle yield or PPHM
      </button>
    </div>
  </div>
    <div class="row justify-content-between p-1">
      <div class="col-5">
        <button class="btn btn-outline-primary btn-sm w-100" [disabled]="!previousLink" type="button" (click)="goToPreviousSet()">
        Backward
        </button>
      </div> 
      <div class="col-5">
        <button class="btn btn-outline-primary btn-sm w-100" [disabled]="!nextLink" type="button" (click)="goToNextSet()">
        Forward
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- If user is loaded show the form, else show the loading template -->
<ng-template #loading>
  No data to show...
</ng-template>