<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 align="left">
        Operations
      </h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12">
        <div class="commentSection border border-primary rounded">

          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center">
                Add comment
              </h3>

            </div>
          </div>
          <div class="row">

            <form role="form" class="col-md-12" #commentForm='ngForm' (ngSubmit)='submitComment($event,commentForm)'>
              <div class="commentForm row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputName">Name:</label>
                    <input type="text" class="form-control" id="inputName" name='commentName' [(ngModel)]="newName" #commentName="ngModel" required
                      minlength="2" pattern="[A-Öa-ö]*">
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="form-group">
                    <label for="inputComment">Comment:</label>
                    <textarea type="text" class="form-control commentTextarea" id="inputComment" name='commentText' [(ngModel)]="newComment"
                      #commentText="ngModel" required>
                    </textarea>
                  </div>
                </div>
              </div>

              <div class="alert alert-danger" *ngIf="commentName.errors && (commentName.dirty || commentName.touched)">
                <div *ngIf="commentName.errors.required">
                  * Name is required.
                </div>
                <div *ngIf="commentName.errors.minlength">
                  * Name must be atleast 2 characters long.
                </div>
                <div *ngIf="commentName.errors.pattern">
                  * Name can not contain numbers.
                </div>
              </div>

              <div class="alert alert-danger" *ngIf="commentText.errors && (commentText.dirty || commentText.touched)">
                <div *ngIf="commentText.errors.required">
                  * Comment is required.
                </div>
              </div>

              <div class="row btn-comment">
                <div class="col-md-6">
                  <p *ngIf="commentAdded" class="text-left">
                    Your comment was added!
                  </p>
                </div>
                <div class="col-md-6" align="right">
                  <button type="submit" class="btn btn-primary">
                    Add comment
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-1">

    </div>

    <div class="col-md-4">
      <div class="col-md-12">
        <div class="dataSection border border-primary rounded">

          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center">
                Add production data
              </h3>

            </div>
          </div>
          <div class="row">

            <form class="commentForm col-md-12" [formGroup]="productionForm" (ngSubmit)='submitProduction($event, productionForm.value)'>
              <div class="form-group row">
                <label for="inputDate" class="col-md-3 col-form-label">Date:</label>
                <div class="col-md-7">
                  <input class="form-control" id="inputDate" type="datetime-local" min="0" #inputDate formControlName="inputDate">
                </div>
              </div>
              <div class="form-group row">
                <label for="onShift" class="col-md-3 col-form-label">On shift:</label>
                <div class="col-md-4">
                  <input class="form-control" id="onShift" type="number" min="0" #onShift formControlName="onShift">
                </div>
              </div>
              <div class="form-group row">
                <label for="produced" class="col-md-3 col-form-label">Produced:</label>
                <div class="col-md-4">
                  <input class="form-control" id="produced" type="number" min="0" #produced formControlName="produced">
                </div>
              </div>
              <div class="row btn-comment">
                <div class="col-md-12" align="right">
                  <button type="submit" class="btn btn-primary">
                    Add data
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="separator">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="floorstockSection border border-primary rounded">

        <form class="floorstockForm" #floorstockForm='ngForm' (ngSubmit)='updateFloorstock($event,floorstockForm)'>
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center">Consumables</h3>
            </div>
          </div>
          <table *ngIf="currentFloorstock.length > 0; else loading" class="table table-bordered table-light">
            <tbody>
              <tr class="d-flex" *ngFor="let item of currentFloorstock">
                <td class="col-lg-6 col-md-6">

                  <div class="input-group mb-3">
                    <span class="input-group-prepend">
                      <button type="button" class="btn btn-danger btn-number plusMinusButtons" (click)="addOne(item.item_id, item.quantity, 'decr')">
                        <b class="button-signs">-</b>
                      </button>
                    </span>
                    <input type="number" min="0" class="form-control input-number inputMiddle" [value]="item.quantity ? item.quantity : 0" name="{{item.item_id}}"
                      [ngModel]="item.quantity">
                    <span class="input-group-append">
                      <button type="button" class="btn btn-success btn-number plusMinusButtons" (click)="addOne(item.item_id, item.quantity, 'incr')">
                        <b class="button-signs">+</b>
                      </button>
                    </span>
                  </div>
                </td>
                <td class="col-lg-6 col-md-6">{{item.item_name}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-8">
              <p *ngIf="floorstockAdded" class="text-left">
                Floorstock successfully updated!
              </p>
            </div>
            <div class="col-md-4 text-right">
              <button type="submit" class="btn btn-primary">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-1">

    </div>

    <div class="row col-md-7">
      <div class="col-md-10 dataSection border border-primary rounded">
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center">Production data</h3>
          </div>
        </div>
        <table class="table table-bordered table-success table-hover">
          <thead>
            <tr>
              <th *ngFor="let col of prodDataColumns">{{ col }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of prodStats">
                <td>{{item.time_stamp | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{item.staff_quantity}}</td>
                <td>{{item.production_quantity}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr>
