<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <h2 class="text-left">
            Operations
          </h2>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5" align="right">
          <h3>
            Shift: {{ selectedShift }} {{ shiftDate }}
          </h3>
        </div>
        <div class="col-md-3">
           <div class="row">
            <div class="dropdown col-md-6">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Select shift
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item" *ngFor="let chosenShift of shifts" ngValue="chosenShift" (click)="onChange(chosenShift.shift, chosenShift.date)">
                  {{chosenShift.shift}} {{ chosenShift.date }} </div>
              </div>
            </div>
            <div class="dropdown col-md-6" align="right">
              <div>
                <button (click)="addShift(true)" class="btn btn-primary">Add shift</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" *ngIf="productionObservable | async; else loading">
      <form class="productionForm" #productionForm='ngForm' (ngSubmit)='updateProduction($event,productionForm)'>

        <!-- DAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY -->
        <div *ngIf="selectedShift == 'day'">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th></th>
                <th *ngFor="let times of dayShiftTimes" class="text-center">{{ times.time }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle scoreboardLabels"># Shift</td>
                <td *ngFor="let stat of shiftProdStats" class="align-middle">
                  <input type="number" min="0" class="form-control inputMiddle" [value]="7<stat.time_stamp<16 ? stat.staff_quantity : ' '"
                    name='{{ stat.time_stamp }}_sq' [ngModel]="stat.staff_quantity">
                </td>
              </tr>
              <tr>
                <td class="align-middle scoreboardLabels"># Produced</td>
                <td *ngFor="let stat of shiftProdStats" class="align-middle">
                  <input type="number" min="0" class="form-control inputMiddle" [value]="7<stat.time_stamp<16 ? stat.production_quantity : ' '"
                    name='{{ stat.time_stamp }}_pq' [ngModel]="stat.production_quantity">
                </td>
              </tr>
              <tr>
                <td class="align-middle scoreboardLabels"># Discarded vials</td>
                <td class="align-middle" colspan="8">
                  <div class="col-md-2 discarded-vials">
                    <input type="number" class="form-control">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-10">
              <p *ngIf="scoreboardAdded" class="text-left">
                {{ scoreboardAddedNotification }}
              </p>
            </div>
            <div class="col-md-2" align="right">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>

        <!-- EVENIIIIIIIIIIIIIIIIIIIIIIIIIIIIIING -->
        <div *ngIf="selectedShift == 'evening'">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th></th>
                <th *ngFor="let times of eveningShiftTimes" class="text-center">{{ times.time }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle scoreboardLabels"># Shift</td>
                <td *ngFor="let stat of shiftProdStats" class="align-middle">
                  <input type="number" min="0" class="form-control inputMiddle" [value]="15<stat.time_stamp<24 ? stat.staff_quantity : ' '"
                    name='{{ stat.time_stamp }}_sq' [ngModel]="stat.staff_quantity">
                </td>
              </tr>
              <tr>
                <td class="align-middle scoreboardLabels"># Produced</td>
                <td *ngFor="let stat of shiftProdStats" class="align-middle">
                  <input type="number" min="0" class="form-control inputMiddle" [value]="15<stat.time_stamp<24 ? stat.production_quantity : ' '"
                    name='{{ stat.time_stamp }}_pq' [ngModel]="stat.production_quantity">
                </td>
              </tr>
              <tr>
                <td class="align-middle scoreboardLabels"># Discarded vials</td>
                <td class="align-middle" colspan="8">
                  <div class="col-md-2 discarded-vials">
                    <input type="number" class="form-control">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-10">
              <p *ngIf="scoreboardAdded" class="text-left">
                {{ scoreboardAddedNotification }}
              </p>
            </div>
            <div class="col-md-2" align="right">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>

        <!-- NIIIIIIIIIIIIIIIIIIIIIIIIIIGHT -->
        <div *ngIf="selectedShift == 'night'">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th></th>
                <th *ngFor="let times of nightShiftTimes" class="text-center">{{ times.time }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle scoreboardLabels"># Shift</td>
                <td *ngFor="let stat of shiftProdStats" class="align-middle">
                  <input type="number" min="0" class="form-control inputMiddle" [value]="0<=stat.time_stamp<8 ? stat.staff_quantity : ' '"
                    name='{{ stat.time_stamp }}_sq' [ngModel]="stat.staff_quantity">
                </td>
              </tr>
              <tr>
                <td class="align-middle scoreboardLabels"># Produced</td>
                <td *ngFor="let stat of shiftProdStats" class="align-middle">
                  <input type="number" min="0" class="form-control inputMiddle" [value]="0<=stat.time_stamp<8 ? stat.production_quantity : ' '"
                    name='{{ stat.time_stamp }}_pq' [ngModel]="stat.production_quantity">
                </td>
              </tr>
              <tr>
                <td class="align-middle scoreboardLabels"># Discarded vials</td>
                <td class="align-middle" colspan="8">
                  <div class="col-md-2 discarded-vials">
                    <input type="number" class="form-control">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-10">
              <p *ngIf="scoreboardAdded" class="text-left">
                Scoreboard data successfully added!
              </p>
            </div>
            <div class="col-md-2" align="right">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-12 filler" *ngIf="scoreboardActive == false">
    </div>
  </div>
</div>

<hr class="separator">
<div class="input-group">

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="floorstockSection border border-primary rounded">

        <form class="floorstockForm" #floorstockForm='ngForm' (ngSubmit)='updateFloorstock($event,floorstockForm)'>
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center">Label roll</h3>
            </div>
          </div>
          <table *ngIf="currentFloorstock.length > 0; else loading" class="table table-bordered table-light">
            <tbody>
              <tr class="d-flex" *ngFor="let item of currentFloorstock">
                <td class="col-lg-6 col-md-6">

                  <div class="input-group mb-3">
                    <span class="input-group-prepend">
                      <button type="button" class="btn btn-danger btn-number plusMinusButtons" (click)="addOne(item.item_id, item.quantity, 'decr')">
                        <b class="button-signs">-</b>
                      </button>
                    </span>
                    <input type="number" min="0" class="form-control input-number inputMiddle" [value]="item.quantity ? item.quantity : 0" name="{{item.item_id}}"
                      [ngModel]="item.quantity">
                    <span class="input-group-append">
                      <button type="button" class="btn btn-success btn-number plusMinusButtons" (click)="addOne(item.item_id, item.quantity, 'incr')">
                        <b class="button-signs">+</b>
                      </button>
                    </span>
                  </div>
                </td>
                <td class="col-lg-6 col-md-6">{{item.item_name}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-8">
              <p *ngIf="floorstockAdded" class="text-left">
                Floorstock successfully updated!
              </p>
            </div>
            <div class="col-md-4 text-right">
              <button type="submit" class="btn btn-primary">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row col-md-8">
      <div class="col-md-2">

      </div>
      <div class="col-md-10">
        <div class="commentSection border border-primary rounded">

          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center">
                Add comment
              </h3>

            </div>
          </div>
          <div class="row">

            <form role="form" class="col-md-12" #commentForm='ngForm' (ngSubmit)='submitComment($event,commentForm)'>
              <div class="commentForm row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputName">Name:</label>
                    <input type="text" class="form-control" id="inputName" name='commentName' [(ngModel)]="newName" #commentName="ngModel" required
                      minlength="2" pattern="[A-Öa-ö]*">
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="form-group">
                    <label for="inputComment">Comment:</label>
                    <textarea type="text" class="form-control commentTextarea" id="inputComment" name='commentText' [(ngModel)]="newComment"
                      #commentText="ngModel" required>
                    </textarea>
                  </div>
                </div>
              </div>

              <div class="alert alert-danger" *ngIf="commentName.errors && (commentName.dirty || commentName.touched)">
                <div *ngIf="commentName.errors.required">
                  * Name is required.
                </div>
                <div *ngIf="commentName.errors.minlength">
                  * Name must be atleast 2 characters long.
                </div>
                <div *ngIf="commentName.errors.pattern">
                  * Name can not contain numbers.
                </div>
              </div>

              <div class="alert alert-danger" *ngIf="commentText.errors && (commentText.dirty || commentText.touched)">
                <div *ngIf="commentText.errors.required">
                  * Comment is required.
                </div>
              </div>

              <div class="row btn-comment">
                <div class="col-md-6">
                  <p *ngIf="commentAdded" class="text-left">
                    Your comment was added!
                  </p>
                </div>
                <div class="col-md-6" align="right">
                  <button type="submit" class="btn btn-primary">
                    Add comment
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <hr>
