<div class="text-center" style="margin-top:15px;">
        <h5 class="commentListTitle">
          {{ commentListTitle }}
        </h5>
        <!-- newly generated comments: -->
        <div class="col-lg-12 text-left notification is-primary commentList">
          <ul>
            <li *ngFor="let item of newComments">
              <b>{{dateNow | date: 'M/d/yy, H:mm a'}}</b> - {{ item }}
            </li>
          </ul>
        </div>
        <!-- Comments from API: -->
        <div class="col-lg-12 text-left notification is-primary commentList">
      
            <div *ngFor="let comment of comments">
              <p><b>{{ comment.post_date | date: 'yy/MM/dd, HH:mm' }}</b> - {{ comment.user_name }}: {{comment.text_comment}} </p>
            </div>
      
        </div>
      </div> 
      
      
      <div class="card-group" *ngFor="let comment of comments">
        <div class="card">
          <div class="card-body" >
            <h6 class="card-title">Comment</h6>
            <p class="card-text">{{ comment.text_comment }}</p>
          </div>
        </div>
      
        <div class="card card card-block d-flex">                
          <div class="card-body align-items-center">
            <h5 class="card-title d-flex justify-content-center ">Information</h5>  
               <div class="d-flex justify-content-center">
                <ul>
                    <li>
                        Start/stop Time         
                    </li>
                    <li >
                        Units produced      
                    </li>
                    <li>
                        Product number      
                    </li>
                </ul>
            </div>
          </div>
        </div>
        
        <div class="card text-center">
          <div class="card-body card-body align-items-center d-flex justify-content-center">
           
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      
      <hr>
      