<div class="row" [formGroup]="reworkForm" *ngIf="reworkForm">
  <div class="col-lg-6">
    <h5>
      Rework HMI Data Groninger 1
    </h5>

    <!-- HMI 1 Good -->
    <div class="form-group row ">
      <label for="hmi1Good_rework" class="col-lg-3 col-form-label">Good:</label>
      <input class="col-lg-8 form-control" #hmi1Good_rework formControlName="hmi1Good_rework" placeholder="">
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-3 alert alert-danger" *ngIf="reworkForm.controls.hmi1Good_rework.invalid && 
        (reworkForm.controls.hmi1Good_rework.dirty || reworkForm.controls.hmi1Good_rework.touched)">
        <span *ngIf="reworkForm.controls.hmi1Good_rework.errors?.required">
          * This field is required.
        </span>
        <span *ngIf="reworkForm.controls.hmi1Good_rework.errors?.pattern">
          * Only positive numbers are accepted.
        </span>
      </div>
    </div>

    <!-- HMI 1 Bad -->
    <div class="form-group row ">
      <label for="hmi1Bad_rework" class="col-lg-3 col-form-label">Bad:</label>
      <input class="col-lg-8 form-control" #hmi1Bad_rework formControlName="hmi1Bad_rework" placeholder="">
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-3 alert alert-danger" *ngIf="reworkForm.controls.hmi1Bad_rework.invalid && 
          (reworkForm.controls.hmi1Bad_rework.dirty || reworkForm.controls.hmi1Bad_rework.touched)">
        <span *ngIf="reworkForm.controls.hmi1Bad_rework.errors?.required">
          * This field is required.
        </span>
        <span *ngIf="reworkForm.controls.hmi1Bad_rework.errors?.pattern">
          * Only positive numbers are accepted.
        </span>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <h5>
      Rework HMI Data Groninger 2
    </h5>

    <!-- HMI 2 Good -->
    <div class="form-group row">
      <label for="hmi2Good_rework" class="col-lg-3 col-form-label">Good:</label>
      <input class="col-lg-8 form-control" #hmi2Good_rework formControlName="hmi2Good_rework" placeholder="">
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-3 alert alert-danger" *ngIf="reworkForm.controls.hmi2Good_rework.invalid && 
              (reworkForm.controls.hmi2Good_rework.dirty || reworkForm.controls.hmi2Good_rework.touched)">
        <span *ngIf="reworkForm.controls.hmi2Good_rework.errors?.required">
          * This field is required.
        </span>
        <span *ngIf="reworkForm.controls.hmi2Good_rework.errors?.pattern">
          * Only positive numbers are accepted.
        </span>
      </div>
    </div>

    <!-- HMI 2 Bad -->
    <div class="form-group row">
      <label for="hmi2Bad_rework" class="col-lg-3 col-form-label">Bad:</label>
      <input class="col-lg-8 form-control" #hmi2Bad_rework formControlName="hmi2Bad_rework" placeholder="">
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-3 alert alert-danger" *ngIf="reworkForm.controls.hmi2Bad_rework.invalid && 
              (reworkForm.controls.hmi2Bad_rework.dirty || reworkForm.controls.hmi2Bad_rework.touched)">
        <span *ngIf="reworkForm.controls.hmi2Bad_rework.errors?.required">
          * This field is required.
        </span>
        <span *ngIf="reworkForm.controls.hmi2Bad_rework.errors?.pattern">
          * Only positive numbers are accepted.
        </span>
      </div>
    </div>
  </div>
  <div class="col-lg-6 offset-lg-3">
    <hr>
  </div>
</div>
<br>