<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 row">
      <h2 class="text-left">
        Home
      </h2>
    </div>
    <div class="col-md-8">
    </div>
    <div class="col-md-2 row">
      <h3>
        Shift:
      </h3>
      <select class="chooseShift" [(ngModel)]="selectShift" (ngModelChange)="onChange($event)" name="differentShifts">
        <option *ngFor="let chosenShift of shifts" [ngValue]="chosenShift" [selected]='chosenShift === selectShift'> {{chosenShift}} </option>
      </select>
    </div>
  </div>
  <!-- <div *ngIf="scoreboardActive == false">
    <hr>
  </div> -->
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 border" *ngIf="productionObservable | async; else loading" >
      <form class="productionForm" #productionForm='ngForm' (ngSubmit)='updateProduction($event,productionForm)'>

        <!-- DAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY -->
        <table *ngIf="selectedShift == 'day'" class="table">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let times of dayShiftTimes" class="text-center">{{ times.time }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle scoreboardLabels"># Shift</td>
              <td *ngFor="let stat of shiftProdStats" class="align-middle">
                <input type="number" class="form-control" [placeholder]="7<stat.time_stamp<16 ? stat.staff_quantity : ' '" name='{{ stat.time_stamp }}_sq'
                  [(ngModel)]="ngModelStaffDay[stat.time_stamp]">
              </td>
            </tr>
            <tr>
              <td class="align-middle scoreboardLabels"># Produced</td>
              <td *ngFor="let stat of shiftProdStats" class="align-middle">
                <input type="number" class="form-control" [placeholder]="7<stat.time_stamp<16 ? stat.production_quantity : ' '" name='{{ stat.time_stamp }}_pq'
                  [(ngModel)]="ngModelProdDay[stat.time_stamp]">
              </td>
            </tr>
            <tr>
              <td class="align-middle scoreboardLabels"># Discarded vials</td>
              <td class="align-middle">
                <input type="number" class="form-control">
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="align-middle">
                <button type="submit" class="btn btn-primary">Update</button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- EVENIIIIIIIIIIIIIIIIIIIIIIIIIIIIIING -->
        <table *ngIf="selectedShift == 'evening'" class="table">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let times of eveningShiftTimes" class="text-center">{{ times.time }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle scoreboardLabels"># Shift</td>
              <td *ngFor="let stat of shiftProdStats" class="align-middle">
                <input type="number" class="form-control" [placeholder]="15<stat.time_stamp<24 ? stat.staff_quantity : ' '" name='{{ stat.time_stamp }}_sq'
                  [(ngModel)]="ngModelStaffEve[stat.time_stamp]">
              </td>
            </tr>
            <tr>
              <td class="align-middle scoreboardLabels"># Produced</td>
              <td *ngFor="let stat of shiftProdStats" class="align-middle">
                <input type="number" class="form-control" [placeholder]="15<stat.time_stamp<24 ? stat.production_quantity : ' '" name='{{ stat.time_stamp }}_pq'
                  [(ngModel)]="ngModelProdEve[stat.time_stamp]">
              </td>
            </tr>
            <tr>
              <td class="align-middle scoreboardLabels"># Discarded vials</td>
              <td class="align-middle">
                <input type="text" class="form-control">
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="align-middle">
                <button type="submit" class="btn btn-primary">Update</button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- NIIIIIIIIIIIIIIIIIIIIIIIIIIGHT -->
        <table *ngIf="selectedShift == 'night'" class="table">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let times of nightShiftTimes" class="text-center">{{ times.time }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle scoreboardLabels"># Shift</td>
              <td *ngFor="let stat of shiftProdStats" class="align-middle">
                <input type="number" class="form-control" [placeholder]="0<=stat.time_stamp<8 ? stat.staff_quantity : ' '" name='{{ stat.time_stamp }}_sq'
                  [(ngModel)]="ngModelStaffNight[stat.time_stamp]">
              </td>
            </tr>
            <tr>
              <td class="align-middle scoreboardLabels"># Produced</td>
              <td *ngFor="let stat of shiftProdStats" class="align-middle">
                <input type="number" class="form-control" [placeholder]="0<=stat.time_stamp<8 ? stat.production_quantity : ' '" name='{{ stat.time_stamp }}_pq'
                  [(ngModel)]="ngModelProdNight[stat.time_stamp]">
              </td>
            </tr>
            <tr>
              <td class="align-middle scoreboardLabels"># Discarded vials</td>
              <td class="align-middle">
                <input type="text" class="form-control">
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="align-middle">
                <button type="submit" class="btn btn-primary">Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="col-md-12 filler" *ngIf="scoreboardActive == false">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="floorstockSection">
        <form class="floorstockForm" #floorstockForm='ngForm' (ngSubmit)='updateFloorstock($event,floorstockForm)'>
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center">Label roll</h3>
            </div>
          </div>
          <table *ngIf="floorstockChangesObservable | async; else loading" class="table table-bordered">
            <tbody>
              <tr *ngFor="let item of currentFloorstock">
                <td>
                  <div class="input-group input-number-group">
                    <div class="input-group-button">
                      <span class="input-number-decrement">-</span>
                    </div>
                    <input type="number" class="input-number" [placeholder]="item.quantity ? item.quantity : ''" name="{{item.item_id}}" [(ngModel)]="ngModelFloorstock[item.item_id]">
                    <div class="input-group-button">
                      <span class="input-number-increment">+</span>
                    </div>
                  </div>
                </td>
                <td>{{item.item_name}}</td>
              </tr>
              
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-8">
      <div class="commentSection">
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center">
              Add comment
            </h3>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-7">
            <form class="commentForm" #commentForm='ngForm' (ngSubmit)='submitComment($event,commentForm)'>
              <div class="row form-group commentInput">
                <div class="col-md-2">
                  <label>Name:</label>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" name='commentName' [(ngModel)]="newName" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-2">
                  <label>Comment:</label>
                </div>

                <div class="col-md-10">
                  <textarea type="text" class="form-control commentTextarea" name='commentText' [(ngModel)]="newComment" required></textarea>
                </div>
              </div>

              <div class="row btn-addComment">
                <div class="notification is-primary col-md-6 text-right">
                  <button type="submit" class="btn btn-primary">
                    Add comment
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
        <div class="col-md-12">
          <p *ngIf="commentAdded" class="text-left">
            {{ commentAddedNotification }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
