<div class="container-fluid">
  <div class="row" style="height:50vh">
    <ngx-charts-line-chart *ngIf = "haveData"
      [view]="view"
      [scheme]="colorScheme"
      [results]="displayData"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel] = "xAxisLabel"
      [xAxis]='xAxis'
      [yAxis] = 'yAxis'
      (select)="pressed($event)">
    </ngx-charts-line-chart> 
    <button class="btn btn-primary" *ngIf="showAllDataButton" type="button" (click)='showAllData()'>
      Show all data
    </button>
  </div>
</div>