<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VFAL Monitor</title>
    <style type="text/css">
        body {
            text-align: center;
        }

        #page {
            width: 900px;
            text-align: left;
            margin: 10px auto 20 px auto;
        }

        #sidebar {
            float: left;
            width: 200px;
            border: 1px solid;
        }
        
        #content {
            float: left;
            width: 600px;
            border: 1px solid;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div id="page">
        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="{% url 'operations:startBatch'  %}">Start Batch</a></li>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="{% url 'floorstock:index'  %}">Floorstock</a></li>
                <li><a href="{% url 'operations:history'  %}">History</a></li>
            </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}
                This is content area
            {% endblock content %}
        </div>
    </div>    
</body>
</html>