
    <div class="card-group">
            <div class="card">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <h5 class="card-title"># Batch</h5>
                </div>
            </div>

            <div class="card card card-block d-flex">                
              <div class="card-body align-items-center">
                <h5 class="card-title d-flex justify-content-center ">Information</h5>  
                   <div class="d-flex justify-content-center">
                    <ul>
                        <li>
                            Start/stop Time         
                        </li>
                        <li >
                            Units produced      
                        </li>
                        <li>
                            Product number      
                        </li>
                    </ul>
                </div>
              </div>
            </div>
            
            <div class="card text-center">
              <div class="card-body card-body align-items-center d-flex justify-content-center">
               
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

          <div class="card-group">
                <div class="card">
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <h5 class="card-title"># Batch</h5>
                    </div>
                </div>
    
                <div class="card card card-block d-flex">                
                  <div class="card-body align-items-center">
                    <h5 class="card-title d-flex justify-content-center ">Information</h5>  
                       <div class="d-flex justify-content-center">
                        <ul>
                            <li>
                                Start/stop Time         
                            </li>
                            <li >
                                Units produced      
                            </li>
                            <li>
                                Product number      
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
                
                <div class="card text-center">
                  <div class="card-body card-body align-items-center d-flex justify-content-center">
                   
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
    
              <div class="card-group">
                    <div class="card">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h5 class="card-title"># Batch</h5>
                        </div>
                    </div>
        
                    <div class="card card card-block d-flex">                
                      <div class="card-body align-items-center">
                        <h5 class="card-title d-flex justify-content-center ">Information</h5>  
                           <div class="d-flex justify-content-center">
                            <ul>
                                <li>
                                    Start/stop Time         
                                </li>
                                <li >
                                    Units produced      
                                </li>
                                <li>
                                    Product number      
                                </li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    
                    <div class="card text-center">
                      <div class="card-body card-body align-items-center d-flex justify-content-center">
                       
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
        
            
