<h1>production per time unit works</h1>

<div class="container">
    <div class="row" style="height:50vh">
      <h3>Production per time unit</h3>
      <div class="col-10">
      <ngx-charts-bar-vertical *ngIf = "haveData"
        [view]="view"
        [scheme]="colorScheme"
        [results]="displayData"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisTickFormatting]="xAxisFormatting"
        [xAxisLabel] = "xAxisLabel"
        [yAxisLabel] = "yAxisLabel"
        [xAxis]='xAxis'
        [yAxis] = 'yAxis'
        (select)="pressed($event)">
      </ngx-charts-bar-vertical> 
    </div>
    <div class="col-2 align-self-end">
      <div class="row p-1">
          <div class="col">
            <div class="dropdown">
              <button class="btn btn-primary btn-sm dropdown-toggle btn-block" type="button" id="timeScopeDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Time Frame
              </button>
              <div class="dropdown-menu" aria-labelledby="timeScopeDropDown">
                <div class="dropdown-item" (click)="changeTimeFrame('43800')">Last five years</div>
                <div class="dropdown-item" (click)="changeTimeFrame('8760')">Last year</div>
                <div class="dropdown-item" (click)="changeTimeFrame('4380')">Last six months</div>
                <div class="dropdown-item" (click)="changeTimeFrame('2190')">Last Quarter</div>
                <div class="dropdown-item" (click)="changeTimeFrame('672')">Last four weeks</div>
                <div class="dropdown-item" (click)="changeTimeFrame('168')">Last week </div>
              </div>
            </div>
          </div>
        </div>    
      <div class="row p-1">
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle btn-block" type="button" id="chooseDisplayType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose display type
            </button>
            <div class="dropdown-menu" aria-labelledby="chooseDisplayType">
              <div class="dropdown-item" (click)="toggleStatisticType('yield')">Total yield</div>
              <div class="dropdown-item" (click)="toggleStatisticType('ppmh')">Per produced man hour</div>
            </div>
          </div>
        </div>
        </div>
      <div class="row p-1">
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle btn-block" type="button" id="chooseSpan" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose span
            </button>
            <div class="dropdown-menu" aria-labelledby="chooseSpan">
              <div class="dropdown-item" (click)="chooseSpan('day')">Days</div>
              <div class="dropdown-item" (click)="chooseSpan('week')">Weeks</div>
              <div class="dropdown-item" (click)="chooseSpan('month')">Months</div>
              <div class="dropdown-item" (click)="chooseSpan('year')">Years</div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
      </div>