<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 align="left">
          Production per day
        </h2>
      </div>
    </div>
  </div>
  
  <hr class="separator">
<div class="container">
    <div class="row" style="height:70vh">
      <div class="col-9">
      <ngx-charts-bar-vertical *ngIf = "haveData; else loading"
        [view]="view"
        [scheme]="colorScheme"
        [results]="displayData"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisTickFormatting]="xAxisFormatting"
        [xAxisLabel] = "xAxisLabel"
        [yAxisLabel] = "yAxisLabel"
        [xAxis]='xAxis'
        [yAxis] = 'yAxis'>
      </ngx-charts-bar-vertical> 
    </div>
    <div class="col-3 align-self-end">
      <div class="row p-1">
          <div class="col">
            <div ngbDropdown class="d-inline-block btn-block">
              <button ngbDropdownToggle class="btn btn-primary btn-sm btn-block" id="timeScopeDropDown" > 
                Choose Time Frame
              </button>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="timeScopeDropDown">
                <button class="dropdown-item" (click)="changeTimeFrame(5*365*24*60*60*1000)">Last five years</button>
                <button class="dropdown-item" (click)="changeTimeFrame(365*24*60*60*1000)">Last year</button>
                <button class="dropdown-item" (click)="changeTimeFrame(0.5*365*24*60*60*1000)">Last six months</button>
                <button class="dropdown-item" (click)="changeTimeFrame(0.25*365*24*60*60*1000)">Last Quarter</button>
                <button class="dropdown-item" (click)="changeTimeFrame(4*7*24*60*60*1000)">Last four weeks</button>
                <button class="dropdown-item" (click)="changeTimeFrame(7*24*60*60*1000)">Last week </button>
              </div>
            </div>
          </div>
        </div>    
      <div class="row p-1">
        <div class="col">
          <div ngbDropdown class="d-inline-block btn-block">
            <button ngbDropdownToggle class="btn btn-primary btn-sm btn-block" id="chooseDisplayType" >
              Choose display type
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="chooseDisplayType">
              <button class="dropdown-item" (click)="toggleStatisticType('yield')">Total yield</button>
              <button class="dropdown-item" (click)="toggleStatisticType('ppmh')">Per produced man hour</button>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
      </div>

<!-- If user is loaded show the form, else show the loading template -->
<ng-template #loading>
  No data to show...
</ng-template>