<div class="text-center" style="margin-top:15px;">
  <h3 class="h3header">
    {{ title }}
  </h3>
  <br>
  <div class="finishBatch">
  <div class="row" style="margin-top:20px;">
    <h5 class="col-lg-6">
      {{ groninger1 }}
    </h5>
    <h5 class="col-lg-6">
        {{ groninger2 }}
    </h5>
  </div>
  <form #batchEndForm='ngForm' (ngSubmit)='submitEndBatch($event,batchEndForm)'>
  
    <div class="form-group row firstInput">
      <div class="col-lg-4">
        <input type="total" class="form-control">
      </div>
      <label class="col-lg-4 col-form-label text-center finishBatchLabels">Total</label>
      <div class="col-lg-4">
          <input type="total" class="form-control">
      </div>
    </div>

    <div class="form-group row firstInput">
        <div class="col-lg-4">
          <input type="approved" class="form-control">
        </div>
        <label class="col-lg-4 col-form-label text-center finishBatchLabels">Approved/Good</label>
        <div class="col-lg-4">
            <input type="approved" class="form-control">
        </div>
      </div>

      <div class="form-group row firstInput">
          <div class="col-lg-4">
            <input type="rejected" class="form-control">
          </div>
          <label class="col-lg-4 col-form-label text-center finishBatchLabels">Rejected/Bad</label>
          <div class="col-lg-4">
              <input type="rejected" class="form-control">
          </div>
        </div>  

        <div class="form-group firstInput row yieldField">
          <label class="col-lg-4 col-form-label text-center finishBatchLabels">Yield</label>
          <div class="col-lg-4">
            <input type="yield" class="form-control">
          </div> 
        </div>  

      <div class="btn-finishBatch">
        <button type="submit" class="btn btn-primary  finishBatchLabels" routerLink="/batch-rework" routerLinkActive="active">
          Update
        </button>
        <button type="submit" class="btn btn-secondary finishBatchLabels">
          Cancel
        </button>
      </div>
  </form>
</div>
</div>

